<section class="contact-section" id="contact">
  <div class="contact-wrapper" appObserveVisibility>
    <p class="contact-subtitle">{{ 'contact.title' | translate }}</p>
    <h2 class="contact-title">{{ 'contact.subtitle' | translate }}</h2>
    <p class="contact-text">
      {{ 'contact.desc' | translate }}
    </p>

    <div class="contact-info">
      <div class="contact-item">
        <i class="fa-solid fa-envelope"></i>
        <span><span>camille.marchand&#64;alsaredigital.fr</span></span>
      </div>
      <div class="contact-item">
        <i class="fa-brands fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/camille-marchand-4759b1195/" target="_blank">LinkedIn</a>
      </div>
      <div class="contact-item">
        <i class="fa-brands fa-dribbble"></i>
        <a href="https://dribbble.com/Justcamsart" target="_blank">Dribbble</a>
      </div>
    </div>
  </div>
</section>
