<section id="about" class="about-section" id="about">
  <div class="about-wrapper" appObserveVisibility>
    <div class="about-image">
      <img src="../../assets/Camille-Marchand.jpg" alt="Camille Marchand" />
    </div>
    <div class="about-content">
      <div class="about-title">
        <h2>{{ 'about.title' | translate }}</h2>
        <h2 class="gradient-text">{{ 'about.subtitle' | translate }}</h2>
      </div>
      <p>
        {{ 'about.desc' | translate }}
      </p>
    </div>
  </div>
</section>
