<section id="skills" class="skills-section">
  <div class="border-box" appObserveVisibility>
    <div class="cards-container">
      <div class="card">
        <div class="card-top">
          <img src="assets/icon-frontend.png" alt="Frontend Icon" class="icon" />
          <h3>Front-End</h3>
          <span class="card-number">01</span>
        </div>
        <div class="card-content">
          <ul>
            <li>Angular</li>
            <li>HTML / CSS / SCSS</li>
            <li>JavaScript / TypeScript</li>
            <li>TailwindCSS</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-top">
          <img src="assets/icon-backend.png" alt="Backend Icon" class="icon" />
          <h3>Back-End</h3>
          <span class="card-number">02</span>
        </div>
        <div class="card-content">
          <ul>
            <li>Node.js</li>
            <li>API REST</li>
            <li>MongoDB</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-top">
          <img src="assets/icon-uxui.png" alt="UXUI Icon" class="icon" />
          <h3>UX/UI Design</h3>
          <span class="card-number">03</span>
        </div>
        <div class="card-content">
          <ul>
            <li>Figma</li>
            <li>Adobe XD</li>
            <li>Design System</li>
            <li>Expérience utilisateur</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
